<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SmartRoom</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>com.servlet.ChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/ChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookRoomServlet</servlet-name>
    <servlet-class>com.servlet.BookRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookRoomServlet</servlet-name>
    <url-pattern>/BookRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SmartBookServlet</servlet-name>
    <servlet-class>com.servlet.SmartBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmartBookServlet</servlet-name>
    <url-pattern>/SmartBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainInterfaceServlet</servlet-name>
    <servlet-class>com.servlet.MainInterfaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainInterfaceServlet</servlet-name>
    <url-pattern>/MainInterfaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainInterface1Servlet</servlet-name>
    <servlet-class>com.servlet.MainInterface1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainInterface1Servlet</servlet-name>
    <url-pattern>/MainInterface1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookMessageServlet</servlet-name>
    <servlet-class>com.servlet.BookMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookMessageServlet</servlet-name>
    <url-pattern>/BookMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancelBookServlet</servlet-name>
    <servlet-class>com.servlet.CancelBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBookServlet</servlet-name>
    <url-pattern>/CancelBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgotPwdServlet</servlet-name>
    <servlet-class>com.servlet.ForgotPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPwdServlet</servlet-name>
    <url-pattern>/ForgotPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>重新设置密码</description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>com.servlet.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/resetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>重新设置密码页面</description>
    <display-name>ResetPasswordUIServlet</display-name>
    <servlet-name>ResetPasswordUIServlet</servlet-name>
    <servlet-class>com.servlet.ResetPasswordUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordUIServlet</servlet-name>
    <url-pattern>/resetPasswordUI</url-pattern>
  </servlet-mapping>
</web-app>